<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List Pendaftar</title>
</head>
<body>
<div th:replace="generalAdmin.html :: nav"> </div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">List Pendaftar</h1>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> Username</th>
                <th scope="col"> Nik</th>
                <th scope="col"> Nama</th>
                <th scope="col"> First Vaccinated</th>
                <th scope="col"> Second Vaccinated</th>
                <th scope="col"> Password</th>
            </tr>
            </thead>
            <div th:each="pendaftar : ${listPendaftar}">
                <tbody>
                <tr>
                    <td th:text="${pendaftar.getUsername()}"></td>
                    <td th:text="${pendaftar.getNik()}"></td>
                    <td th:text="${pendaftar.getNama()}"></td>
                    <td th:text="${pendaftar.isFirstVaccinated()}"></td>
                    <td th:text="${pendaftar.isSecondVaccinated()}"></td>
                    <td th:text="${pendaftar.getPassword()}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>