<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Detail Berita</title>
</head>
<body>
<div th:replace="${user == null} ? ~{generalNonUser.html :: nav} : (${user.getIsAdmin()} ? ~{generalAdmin.html :: nav} : ~{generalUser.html :: nav} )"></div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Detail Berita</h1>
        </div>
    </div>
    <div class="row">
        <div class="text-center mx-auto col-md-8">
            <h3 th:text="${berita?.judul}"></h3>
        </div>
    </div>
    <div class="row">
        <img class="col-md-8 mx-auto d-block img-fluid" th:src="@{${berita?.urlGambar}}" />
    </div>
    <div class="row">
        <div class="text-center mx-auto col-md-8">
            <p th:text="${berita?.deskripsi}"></p>
        </div>
    </div>
</div>
<div th:replace="generalUser.html :: footer"> </div>
</body>
</html>