<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Daftar Vaksinasi</title>
</head>
<body>
<div th:replace="${user == null} ? ~{generalNonUser.html :: nav} : (${user.getIsAdmin()} ? ~{generalAdmin.html :: nav} : ~{generalUser.html :: nav} )"></div>
<div class="container py-3">
    <div class="row text-center">
        <div class="mx-auto col-md-8">
            <h1 class="mb-4">Daftar Vaksinasi</h1>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto col-md-8 p-3">
            <form th:action="@{/daftar-vaksinasi}" method="POST"
                  th:object="${historyPendaftaran}"
                  modelAttribute="historyPendaftaran">
                <div class="form-group">
                    <label for="rs">RS Pilihan</label>
                    <select name="rs" id="rs" th:field="*{rumahSakit}">
                        <option th:each="rs : ${semuaRS}"
                                th:value="${rs.getHospitalName()}"
                                th:text="${rs.getHospitalName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tanggal">Tanggal Vaksinasi</label>
                    <input type="date" class="form-control" id="tanggal" th:field="*{tanggal}" placeholder="Pilih tanggal vaksinasi...">
                </div>


                <button type="submit" class="btn btn-outline-primary btn-block">Daftar</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="generalAdmin.html :: footer"></div>
</body>
</html>